html {
  font-size: 17px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif !important;
  line-height: 1.7 !important;
  color: gray !important;
  font-weight: 400;
}

li {
  list-style-type: none;
}

.wrapper-page {
  position: relative;
}

.wrapper-page .bg-primary-light {
  background-color: #f8f5fc;
}

.wrapper-page .scroll-sticky {
  background-color: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 99999999999;
}

.wrapper-page div.sticky-wrapper {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.left {
  padding-top: 17px;
  padding-bottom: 17px;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.left a {
  display: inline-block;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 2rem;
  height: 2rem;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.left a:hover {
  text-decoration: none;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.left a span {
  color: #6f42c1;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.active a.paren {
  font-size: 17px;
  color: #000;
  font-weight: 600;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li a.paren {
  font-size: 17px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 68px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px 20px;
  line-height: 68px;
  color: #48464a;
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li a.paren:hover {
  color: #6f42c1;
  text-decoration: none;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.has-children {
  position: relative;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.has-children:hover ul.dropdown {
  margin-top: 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.has-children ul {
  position: absolute;
  display: none;
  -webkit-transition: 0.2s 0s;
  transition: 0.2s 0s;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid #6f42c1;
  background-color: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.has-children ul li a {
  color: #000;
  font-size: 17px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.8px;
  width: 210px;
  padding: 9px 20px;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.has-children ul li a:hover {
  background-color: #f0ecf9;
  text-decoration: none;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.has-children li.has-children {
  position: relative;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.has-children li.has-children:hover ul {
  margin-top: 0;
  display: block;
  visibility: visible;
  opacity: 1;
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.has-children li.has-children ul {
  position: absolute;
  display: none;
  -webkit-transition: 0.2s 0s;
  transition: 0.2s 0s;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid #6f42c1;
  background-color: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
}

.wrapper-page div.sticky-wrapper header.site-navbar .container .row div.right nav ul li.has-children li.has-children ul a::before {
  content: "";
}

.wrapper-page .hero-1 {
  padding-top: 136px;
  background-color: #f0ecf9;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  color: #6f42c1;
}

.wrapper-page .hero-1 div.container div.row div.text-left span {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 900;
  letter-spacing: 0.1rem;
  display: block;
  line-height: 20px;
}

.wrapper-page .hero-1 div.container div.row div.text-left h1 {
  font-size: 40px;
  color: #6f42c1;
  font-weight: 900;
  margin-bottom: 17px;
}

.wrapper-page .hero-1 div.container div.row div.text-left p.p-text {
  color: gray;
  font-size: 1rem;
  margin-bottom: 51px;
}

.wrapper-page .hero-1 div.container div.row div.text-left p a {
  display: inline-block;
  color: #fff;
  background-color: #6f42c1;
  border: 1px solid #6f42c1;
  border-radius: 30px;
  padding: 10px 30px;
  line-height: 1.1;
}

.wrapper-page .hero-1 div.container div.row div.text-left p a:hover {
  text-decoration: none;
}

.wrapper-page .stats .container .row.top-stat div h2 {
  font-size: 30px;
  color: #6f42c1;
  font-weight: 900;
}

.wrapper-page .stats .container .row.botton-stat div .data {
  text-align: center;
}

.wrapper-page .stats .container .row.botton-stat div .data .icon span {
  color: #6f42c1;
}

.wrapper-page .stats .container .row.botton-stat div .data .icon span::before {
  font-size: 2rem;
  font-family: Flaticon;
}

.wrapper-page .stats .container .row.botton-stat div .data strong {
  display: block;
  font-size: 34px;
  font-weight: 900;
  color: #000;
}

.wrapper-page .stats .container .row.botton-stat div .data span.label {
  font-size: 12px;
  color: #aaa;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.wrapper-page #question-covid .container .row div figure.img-play-vid {
  position: relative;
}

.wrapper-page #question-covid .container .row div figure.img-play-vid img {
  width: 100%;
  height: auto;
}

.wrapper-page #question-covid .container .row div figure.img-play-vid div.text-video {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
}

.wrapper-page #question-covid .container .row div figure.img-play-vid div.text-video span.text {
  color: #fff;
  margin-right: 30px;
  line-height: 60px;
}

.wrapper-page #question-covid .container .row div figure.img-play-vid div.text-video a {
  display: inline-block;
  height: 60px;
}

.wrapper-page #question-covid .container .row div figure.img-play-vid div.text-video a span.icon-play {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #6f42c1;
  border: 1px solid #6f42c1;
  position: relative;
}

.wrapper-page #question-covid .container .row div figure.img-play-vid div.text-video a span.icon-play::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\f04b";
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
}

.wrapper-page #question-covid .container .row div h2.section-heading {
  font-size: 30px;
  font-weight: 900;
  color: #6f42c1;
}

.wrapper-page #question-covid .container .row div ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-bottom: 51px;
}

.wrapper-page #question-covid .container .row div ul li {
  padding-left: 30px;
  position: relative;
}

.wrapper-page #question-covid .container .row div ul li::before {
  color: #6f42c1;
  top: 0.2rem;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  position: absolute;
  left: 0;
}

.wrapper-page #question-covid .container .row div p a {
  display: inline-block;
  color: #fff;
  border-radius: 30px;
  background-color: #6f42c1;
  padding: 10px 30px;
  line-height: 1.15;
}

.wrapper-page #question-covid .container .row div p a:hover {
  text-decoration: none;
}

.wrapper-page #Prevention .row div .feature-v1 .icon-wrap {
  display: block;
  height: 40px;
  width: 40px;
}

.wrapper-page #Prevention .row div .feature-v1 .icon-wrap span {
  position: relative;
  color: #6f42c1;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.wrapper-page #Prevention .row div .feature-v1 .icon-wrap span::before {
  position: absolute;
  font-size: 2.5rem;
  line-height: 1;
  width: 100%;
  height: 100%;
  font-family: Flaticon;
}

.wrapper-page #Prevention .row div .feature-v1 h3 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 0;
  color: #6f42c1;
}

.wrapper-page #Prevention .row div .feature-v1 span.d-block {
  font-size: 17px;
  color: #aaa;
}

.wrapper-page #prevent .container .row div .row div .media-v1 {
  margin-bottom: 30px;
  border-radius: 7px 7px 7px 7px;
  overflow: hidden;
}

.wrapper-page #prevent .container .row div .row div .media-v1 .icon-wrap {
  background-color: #e2d9f3;
  width: 100%;
  height: 140px;
}

.wrapper-page #prevent .container .row div .row div .media-v1 .icon-wrap span {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #6f42c1;
}

.wrapper-page #prevent .container .row div .row div .media-v1 .icon-wrap span::before {
  line-height: 1;
  position: absolute;
  font-size: 3rem;
  width: 50px;
  height: 50px;
  top: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: Flaticon;
}

.wrapper-page #prevent .container .row div .row div .media-v1 div.body {
  background-color: #fff;
  padding: 30px;
}

.wrapper-page #prevent .container .row div .row div .media-v1 div.body h3 {
  font-size: 18px;
  color: #6f42c1;
  margin-bottom: 8.5px;
}

.wrapper-page #prevent .container .row div .row div .media-v1 div.body p {
  color: #aaa;
  line-height: 1.7;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 0;
}

.wrapper-page #prevent .container .row div .right h2 {
  font-size: 30px;
  margin-bottom: 25.5px;
  color: #6f42c1;
  font-weight: 900;
  opacity: 1;
}

.wrapper-page #prevent .container .row div .right p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 17px;
}

.wrapper-page #prevent .container .row div .right .mb-25dot5 {
  margin-bottom: 25.5px;
}

.wrapper-page #prevent .container .row div .right ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-bottom: 51px;
}

.wrapper-page #prevent .container .row div .right ul li {
  padding-left: 30px;
  position: relative;
}

.wrapper-page #prevent .container .row div .right ul li::before {
  color: #6f42c1;
  top: 0.2rem;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  position: absolute;
  left: 0;
}

.wrapper-page #prevent .container .row div .right p a {
  display: inline-block;
  color: #fff;
  border-radius: 30px;
  background-color: #6f42c1;
  padding: 10px 30px;
  line-height: 1.15;
}

.wrapper-page #prevent .container .row div .right p a:hover {
  text-decoration: none;
}

.wrapper-page #protect .container .row div span.subheading {
  font-size: 17px;
}

.wrapper-page #protect .container .row div h2.section-heading {
  color: #6f42c1;
  font-size: 30px;
  font-weight: 900;
}

.wrapper-page #protect .container .row div p {
  font-size: 17px;
}

.wrapper-page #protect .container .row div .row div h3 {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  opacity: 0.8;
}

.wrapper-page #protect .container .row div .row div ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.wrapper-page #protect .container .row div .row div ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 17px;
  color: #808080;
}

.wrapper-page #protect .container .row div .row div ul li::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 15px;
}

.wrapper-page #protect .container .row div .row .do ul li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #a8df65;
}

.wrapper-page #protect .container .row div .row .dont ul li::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #e84a5f;
}

.wrapper-page #protect .container .row div img {
  width: 100%;
  height: auto;
}

.wrapper-page #Symptoms .container .row div h2.section-heading {
  color: #6f42c1;
  font-size: 30px;
  font-weight: 900;
}

.wrapper-page #Symptoms .container .row div p {
  font-size: 17px;
}

.wrapper-page #Symptoms .container .row div div.symptom {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}

.wrapper-page #Symptoms .container .row div div.symptom div.img {
  width: 80px;
  margin-right: 20px;
}

.wrapper-page #Symptoms .container .row div div.symptom div.img img {
  width: 80px;
  height: auto;
}

.wrapper-page #Symptoms .container .row div div.symptom div.text h3 {
  font-size: 16px;
  font-weight: 700;
  color: #6f42c1;
}

.wrapper-page #Symptoms .container .row div div.symptom div.text p {
  line-height: 1.5;
  font-size: 15px;
  margin-bottom: 0;
}

.wrapper-page #Symptoms .container .row div .note {
  padding: 20px;
}

.wrapper-page #Symptoms .container .row div .note div {
  line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1rem;
}

.wrapper-page #Symptoms .container .row div .note div strong {
  color: #6f42c1;
}

.wrapper-page #Symptoms .container .row div .note div a {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #6f42c1;
  border-radius: 30px;
  background-color: #6f42c1;
  line-height: 1.4;
  color: #fff;
  font-size: 13px;
}

.wrapper-page #Symptoms .container .row div .note div a:hover {
  text-decoration: none;
}

.wrapper-page #Symptoms .container .row div .note div a span {
  margin-right: 0.5rem;
  font-size: 10px;
}

.wrapper-page #Symptoms .container .row div .note div a span::before {
  content: "\f879";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}

.wrapper-page #articles .container .row div h2.section-heading {
  font-size: 30px;
  font-weight: 900;
  color: #6f42c1;
}

.wrapper-page #articles .container .row div p {
  line-height: 1.7;
}

.wrapper-page #articles .container .row div .post-entry {
  text-align: center;
}

.wrapper-page #articles .container .row div .post-entry .thumb {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.wrapper-page #articles .container .row div .post-entry .thumb img {
  width: 100%;
  height: auto;
}

.wrapper-page #articles .container .row div .post-entry .thumb span.date {
  position: absolute;
  padding: 5px 15px;
  background-color: #6f42c1;
  line-height: 1.2;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
}

.wrapper-page #articles .container .row div .post-entry div.post-meta a {
  text-transform: uppercase;
  line-height: 1.7;
  margin: 0 10px;
}

.wrapper-page #articles .container .row div .post-entry div.post-meta a span {
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;
  color: #ccc;
}

.wrapper-page #articles .container .row div .post-entry div.post-meta a span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 14px;
  margin-right: 8px;
}

.wrapper-page #articles .container .row div .post-entry div.post-meta a.icon-user span::before {
  content: "\f007";
}

.wrapper-page #articles .container .row div .post-entry div.post-meta a.icon-comment span::before {
  content: "\f075";
}

.wrapper-page #articles .container .row div .post-entry h3 {
  font-size: 18px;
}

.wrapper-page #articles .container .row div .post-entry h3 a {
  color: #6f42c1;
}

.wrapper-page .site-footer .container .row div h2.footer-heading {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.wrapper-page .site-footer .container .row div p {
  color: #4c4c4c;
  line-height: 1.5;
}

.wrapper-page .site-footer .container .row div div a {
  color: #6f42c1;
}

.wrapper-page .site-footer .container .row div div a:first-child {
  padding-left: 0;
}

.wrapper-page .site-footer .container .row div .row div h2.footer-heading {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.wrapper-page .site-footer .container .row div .row div ul.list-unstyled {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-page .site-footer .container .row div .row div ul.list-unstyled li {
  margin-bottom: 10px;
  display: inline-block;
}

.wrapper-page .site-footer .container .row div .row div ul.list-unstyled li a {
  display: inline-block;
  font-weight: 700;
  color: #6f42c1;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.wrapper-page .site-footer .container .row div .row div ul.list-unstyled li a:hover {
  text-decoration: none;
  color: #000;
}

@media (min-width: 768px) {
  .site-footer {
    padding: 90px 0;
  }
  .site-section {
    padding: 90px 0;
  }
}
/*# sourceMappingURL=style-covid.css.map */